@import '../../../scss/variables';

.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav-container {
    flex: 1;
    background: $main-background-color;

    .sidenav {
      padding: 8px;
      width: 18%;
      background: $white;
    }

    .main-container {
      background-color: #F0F3FB;
      display: block;
      margin: 2px;
      min-height: calc(100vh - 76px);
      transition: .5s;
      padding: 25px 0 0 25px;
      box-sizing: border-box;
    }
  }
}