<p>
  <mat-form-field>
      <input matInput (keyup)="applySearchFilter($event.target.value)" placeholder="Search Data">
  </mat-form-field>

  <button *ngIf="displayCreateAction" mat-fab (click)="performAction(userActions.Add, {})" 
    matTooltipClass="tooltip" matTooltipPosition="left" [matTooltip]="addRowText"
    mat-flat-button color="primary" style="float:right">
        <mat-icon>add</mat-icon>
  </button>
</p>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <caption></caption>
    <ng-container *ngFor="let columnId of objectKeys(columnDefinition)" [matColumnDef]="columnId">

      <ng-container *ngIf="columnId==='CRUD_OPERATION'">
          <th mat-header-cell *matHeaderCellDef  class="table-header" id="CRUD_OPERATION"> 
              <button mat-fab matTooltipClass="tooltip" 
                   (click)="performAction(userActions.Add, {})" [matTooltip]="addRowText"
                  matTooltipPosition="left" mat-flat-button color="primary" style="float:right">
                  <mat-icon class="mat-18">add</mat-icon>
              </button>
          </th>

          <td mat-cell *matCellDef="let element">
              <div class="actions-buttons">
                  <button *ngIf="displayDetailAction" mat-icon-button color="primary" matTooltipClass="tooltip"  [matTooltip]="viewDetailRowText"
                      (click)="performAction(userActions.Details, element)">
                      <mat-icon class="mat-18">reorder</mat-icon>
                  </button>
                  <button *ngIf="displayEditAction" mat-icon-button color="primary" matTooltipClass="tooltip" [matTooltip]="editRowText"
                      (click)="performAction(userActions.Update, element)">
                      <mat-icon class="mat-18">edit</mat-icon>
                  </button>
                  <button *ngIf="displayDeleteAction" mat-icon-button color="primary" matTooltipClass="tooltip" [matTooltip]="deleteRowText"
                      (click)="performAction(userActions.Delete, element)">
                      <mat-icon class="mat-18">delete</mat-icon>
                  </button>
              </div>
          </td>
      </ng-container>

      <th id="{{columnId}}" mat-header-cell *matHeaderCellDef mat-sort-header  class="table-header"> {{columnDefinition[columnId]}}    </th>
      <td mat-cell *matCellDef="let element"> {{element[columnId] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="objectKeys(columnDefinition); sticky: true" class="table-header"></tr>
    <tr class="row-custom-class" mat-row *matRowDef="let row; columns: objectKeys(columnDefinition); let i=index" [attr.id]="i"></tr>

  </table>
  <mat-paginator (page)="pageChanged($event)" [pageSize]="pageProperties.pageSize" 
      [length]="pageProperties.length"
      [pageSizeOptions]="pageSizeOptions" class="mat-paginator-sticky" showFirstLastButtons="true"></mat-paginator>
</div>