.mat-column-progress {
  max-width: 40px;
}



table{
  width: 100%;
}
.table-container{
  background: #fff;
  min-height: 50px;
  position: relative;
  margin-bottom: 24px;
  border: 1px solid #f2f4f9;
  border-radius: 10px;
  box-shadow: 0 0 10px #b7c0ce33;
  -webkit-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
  padding: 6px 2px;
}